//login__container
//login__header
//login__form
//login__form-field
//login__form-input
//login__form-label
//input__form-input-email
//input__form-input-password
//login__form-submit
//login__splitter
//login__google

//UTIL
.login__button--styles {
  border: none;
  padding: 1rem 3rem;
  font-family: "Integral-bold", sans-serif;
  letter-spacing: 2px;
  border-radius: 4px;
  cursor: pointer;
}
//...

.login__container {
  width: 100vw;
  max-width: 99vw;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  flex-direction: column;
}

.login__header {
  font-family: "Integral-bold", sans-serif;
  font-size: 5rem;
  letter-spacing: 2px;

  background: url("./../../assets/login.jpg");
  -webkit-background-clip: text;
  color: transparent;

  user-select: none;
}

.login__form {
  max-width: 400px;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login__form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;

  width: 100%;
}

.login__form-label {
  font-family: "Integral-bold", sans-serif;
  letter-spacing: 2px;
}

.login__form-input {
  padding: 4px 2px;
  border: linear;
  width: 60%;
  margin-top: 1rem;

  border: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.9),
      rgba(255, 213, 252, 0.8)
    ),
    1px solid;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, rgb(0, 208, 255), rgb(0, 128, 111));
  border-image-slice: 1;
  &::placeholder {
    font-size: 1rem;
    font-family: Poppins, sans-serif;
  }
}

.login__splitter {
  font-family: Integral-medium, sans-serif;
  letter-spacing: 1px;
}
//
